Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci(github): set permissions in release-please.yml
  .github/workflows/release-please.yml
Due: none

ci(github): set permissions in workflows
  .github/workflows/build.yml
  .github/workflows/cypress.yml
Due: none

ci(github): add group react to dependabot.yml
  .github/dependabot.yml
Due: none

test(setupFiles): fix TypeScript error
  test/setupFiles.ts
Due: eslint --fix

test: replace outdated snapshot guide link
  src/components/BoardControls/utils/__snapshots__/transform.test.ts.snap
  src/components/Columns/utils/__snapshots__/combine.test.ts.snap
  src/pages/Login/__snapshots__/uiConfig.test.ts.snap
  src/routes/__snapshots__/routes.test.tsx.snap
Due: none

feat(pages): add 2 additional support links
  cypress/e2e/support/support.feature
  src/pages/Support/Support.tsx
  src/pages/Support/constants.ts
Due: eslint --fix

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

feat(components): render SplitButton in Export
  src/components/BoardControls/Export.tsx
  src/components/SplitButton/SplitButton.tsx
  src/components/SplitButton/index.ts
Due: eslint --fix

ci(github): setup java version 21 in workflow cypress.yml
  .github/workflows/cypress.yml
Due: none

refactor: migrate deprecated MUI v9 props
  src/components/BoardControls/MaxLikes.tsx
  src/components/BoardControls/Timer.tsx
  src/components/Column/Column.tsx
  src/components/Column/ColumnName.tsx
  src/components/Item/Item.tsx
  src/components/Item/Likes.tsx
  src/components/Items/DraggableItem.tsx
  src/components/Items/DroppableItems.tsx
  src/components/ListItem/Checkbox.tsx
  src/components/ListItem/ListItem.tsx
  src/components/ListItems/DroppableItems.tsx
  src/components/Row/RowName.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
  src/pages/ErrorBoundary/ErrorBoundary.tsx
  src/pages/Home/Features/Features.tsx
  src/pages/Home/Footer/Footer.tsx
  src/pages/NotFound/NotFound.tsx
  src/pages/Support/Support.tsx
Due: eslint --fix

build(vite): ignore coverage and dist in dev server watch
  vite.config.mts
Due: none

build(vite): remove unused vite-plugin-commonjs
  package-lock.json
  package.json
  vite.config.mts
Due: prettier --write

chore: rename eslint.config.mjs to eslint.config.mts
  eslint.config.mts
Due: none

chore(eslint): modernize ESLint config
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write

revert(vite): restore vite-plugin-commonjs
  package-lock.json
  package.json
  vite.config.mts
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
