Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

chore(routes): add type
  src/routes.tsx
Due: eslint --fix

refactor(routes): create and move files to routes directory
  src/routes/index.test.tsx
  src/routes/index.ts
  src/routes/routes.tsx
Due: eslint --fix

docs(github): add PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(github): add ISSUE_TEMPLATE bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

docs(github): add ISSUE_TEMPLATE feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

docs(github): add ISSUE_TEMPLATE question.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

docs(github): add CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

ci(github): remove workflow codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

ci(github): fix workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: none

test(cypress): add e2e support.feature
  cypress/e2e/support/support.feature
Due: none

feat(pages): create Support
  src/pages/Support/Support.test.tsx
  src/pages/Support/Support.tsx
  src/pages/Support/constants.ts
  src/pages/Support/index.test.tsx
  src/pages/Support/index.tsx
Due: eslint --fix

feat(components): render support link in Header
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
Due: eslint --fix

feat(components): add title to icons in Header
  src/components/Layout/Header.tsx
Due: eslint --fix

feat(routes): add "/support"
  src/routes/index.test.tsx
  src/routes/routes.tsx
Due: eslint --fix

feat(pages): change to public GitHub issue & discussion links in Support
  src/pages/Support/Support.test.tsx
  src/pages/Support/Support.tsx
Due: eslint --fix

refactor(pages): set NotFound document title to "Not Found"
  src/pages/NotFound/NotFound.tsx
Due: eslint --fix

test(cypress): check document title in e2e features
  cypress/e2e/404/404.feature
  cypress/e2e/board/board.feature
  cypress/e2e/boards/boards.feature
  cypress/e2e/header/header.feature
  cypress/e2e/home/home.feature
  cypress/e2e/signup/signup.feature
  cypress/e2e/support/support.feature
Due: none

feat(firebase): export onConnected from database
  src/firebase/database.ts
Due: eslint --fix

feat(components): add Connection that detects Firebase Database client
  src/components/Connection/Connection.test.tsx
  src/components/Connection/Connection.tsx
  src/components/Connection/index.ts
Due: eslint --fix

feat(pages): render Connection in Board and Boards
  src/pages/Board/index.tsx
  src/pages/Boards/index.tsx
Due: eslint --fix

ci(github): disable workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: none

fix(components): load app before checking Firebase connection
  src/components/Connection/Connection.test.tsx
  src/components/Connection/Connection.tsx
Due: eslint --fix

test(hooks): refactor useDispatch and useSelector tests
  src/hooks/useDispatch.test.ts
  src/hooks/useSelector.test.ts
Due: eslint --fix

chore(eslintrc): set rules "no-console" and "no-debugger" to error
  .eslintrc.json
Due: prettier --write

feat(pages): create ErrorBoundary
  src/pages/ErrorBoundary/ErrorBoundary.test.tsx
  src/pages/ErrorBoundary/ErrorBoundary.tsx
  src/pages/ErrorBoundary/index.tsx
Due: eslint --fix

feat(routes): set root Route errorElement to ErrorBoundary
  src/routes/index.test.tsx
  src/routes/routes.tsx
Due: eslint --fix

refactor(components): modularize App from index.tsx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/App/index.ts
  src/index.tsx
Due: eslint --fix

refactor(types): export type RootState from store
  src/hooks/useSelector.ts
  src/types/index.ts
Due: eslint --fix

test(hooks): refactor useIsAdmin with renderHook
  src/hooks/useIsAdmin.test.ts
Due: eslint --fix

test(hooks): refactor useMaxLikes with renderHook
  src/hooks/useMaxLikes.test.ts
Due: eslint --fix

test(hooks): refactor useSetDocumentTitle with renderHook
  src/hooks/useSetDocumentTitle.test.tsx
Due: eslint --fix

feat(BoardCard): show confirmation dialog before deleting board
  cypress/e2e/boards/boards.feature
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

refactor(components): modularize DeleteDialog from BoardCard
  src/components/DeleteDialog/DeleteDialog.test.tsx
  src/components/DeleteDialog/DeleteDialog.tsx
  src/components/DeleteDialog/index.ts
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

build(package): bump cypress-cucumber-steps from 1.59.0 to 1.60.0
  package.json
  yarn.lock
Due: prettier --write

refactor(slices): move slices from store to slices
  src/actions/actions.ts
  src/actions/index.ts
  src/components/Boards/AddBoard.test.tsx
  src/pages/Boards/Boards.test.tsx
  src/slices/boardsSlice.test.ts
  src/slices/boardsSlice.ts
  src/slices/columnsSlice.test.ts
  src/slices/columnsSlice.ts
  src/slices/index.ts
  src/slices/itemsSlice.test.ts
  src/slices/itemsSlice.ts
  src/slices/likesSlice.test.ts
  src/slices/likesSlice.ts
  src/slices/userSlice.test.ts
  src/slices/userSlice.ts
  src/store/index.ts
  src/store/store.ts
Due: eslint --fix

chore(slices): remove unused index.ts
  src/slices/index.ts
Due: eslint --fix

refactor(slices): tidy slices exports; tidy store and actions imports
  src/actions/actions.ts
  src/slices/boardsSlice.test.ts
  src/slices/boardsSlice.ts
  src/slices/columnsSlice.test.ts
  src/slices/columnsSlice.ts
  src/slices/index.ts
  src/slices/itemsSlice.test.ts
  src/slices/itemsSlice.ts
  src/slices/likesSlice.test.ts
  src/slices/likesSlice.ts
  src/slices/userSlice.test.ts
  src/slices/userSlice.ts
  src/store/store.ts
Due: eslint --fix
