Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

refactor(test): move test utils from src to test directory
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/HideLikes.test.tsx
  src/components/BoardControls/MaxLikes.test.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/BoardControls/Timer.test.tsx
  src/components/Boards/AddBoard.test.tsx
  src/components/Column/Column.test.tsx
  src/components/Column/ColumnName.test.tsx
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Item/Delete.test.tsx
  src/components/Item/Item.test.tsx
  src/components/Item/LikeButton.test.tsx
  src/components/Item/Likes.test.tsx
  src/components/Items/Items.test.tsx
  src/components/Layout/Header.test.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Protected/Protected.test.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/hooks/useAuth.test.tsx
  src/hooks/useGetItemIds.test.ts
  src/hooks/useGetLikes.test.ts
  src/hooks/useGetUserId.test.ts
  src/hooks/useMaxLikes.test.ts
  src/pages/Board/Board.test.tsx
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/BoardCards.test.tsx
  src/pages/Boards/Boards.test.tsx
  src/pages/ErrorBoundary/ErrorBoundary.test.tsx
  src/pages/Home/Home.test.tsx
  src/pages/Login/Login.test.tsx
  src/pages/Logout/Logout.test.tsx
  src/pages/NotFound/NotFound.test.tsx
  src/pages/Support/Support.test.tsx
  test/setupTests.ts
  test/utils.tsx
Due: eslint --fix

refactor(env): replace env var prefix `REACT_APP` with `VITE_APP`
  .env
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  src/config/__mocks__/index.ts
  src/config/index.ts
  src/firebase/app.ts
  src/firebase/database.ts
  src/pages/Home/Footer/Footer.tsx
  src/pages/Home/Home.test.tsx
Due: eslint --fix

build: add vite.config.mjs
  vite.config.mjs
Due: none

build(package): install `eslint` dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor(test): move test constants from src to test directory
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/MaxLikes.test.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/utils/sortByLikes.test.ts
  src/components/Boards/AddBoard.test.tsx
  src/components/Column/ColumnName.test.tsx
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Columns/utils/combine.test.ts
  src/components/Columns/utils/reorder.test.ts
  src/components/Item/Item.test.tsx
  src/components/Item/Likes.test.tsx
  src/components/Items/Items.test.tsx
  src/hooks/useAuth.test.tsx
  src/hooks/useGetItemIds.test.ts
  src/hooks/useGetLikes.test.ts
  src/hooks/useMaxLikes.test.ts
  src/pages/Board/Board.test.tsx
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/Boards.test.tsx
  src/pages/Login/Login.test.tsx
  src/store/slices/boardsSlice.test.ts
  src/store/slices/columnsSlice.test.ts
  src/store/slices/itemsSlice.test.ts
  src/store/slices/likesSlice.test.ts
  src/store/slices/userSlice.test.ts
  test/constants.ts
  test/setupTests.ts
  test/utils.tsx
Due: eslint --fix

test(src): fix istanbul ignore file by adding newline
  src/components/BoardControls/audio/index.ts
  src/firebase/analytics.ts
  src/firebase/auth.ts
  src/firebase/database.ts
  src/reportWebVitals.ts
Due: eslint --fix

refactor: move public/index.html to index.html
  index.html
Due: prettier --write

chore: replace port 3000 with 5173 and fix .github/workflows/cypress.yml
  .github/workflows/cypress.yml
  README.md
  cypress.config.ts
Due: eslint --fix, prettier --write

build(vite): add plugin vite-plugin-commonjs to fix require is not defined
  package-lock.json
  package.json
  vite.config.mjs
Due: prettier --write

build: replace build directory from `build` to `dist`
  .gitignore
  .size-limit.json
  README.md
  firebase.json
Due: prettier --write

fix: fix paths in index.html and remove comments
  index.html
Due: prettier --write

refactor(Header): replace GitHub link with Bitly short link
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
Due: eslint --fix

fix(public): fix manifest.json property 'start_url'
  public/manifest.json
Due: prettier --write

fix(public): set manifest.json property 'start_url' to absolute url
  public/manifest.json
Due: prettier --write

fix(public): set manifest.json property 'src' to absolute url
  public/manifest.json
Due: prettier --write

refactor(index): tidy asset paths in index.html
  index.html
Due: prettier --write

build(vite): rename vite.config.mjs to vite.config.mts
  vite.config.mts
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

style(config): improve readability with prettier-ignore
  src/config/index.ts
Due: eslint --fix

perf(components): remove inefficient createSelector in Export
  src/components/BoardControls/Export.tsx
Due: eslint --fix

refactor(components): fix lint error by removing unused var in Export
  src/components/BoardControls/Export.tsx
Due: eslint --fix

chore: delete .npmrc
  .npmrc
Due: none

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

chore: pass --host to npm start script to expose the network
  README.md
  package.json
Due: prettier --write

test(utils): allow optional first argument in `withItem`
  test/utils.tsx
Due: eslint --fix

refactor(public): remove absolute url in manifest.json
  public/manifest.json
Due: prettier --write

fix: rename `realtime` to `real-time`
  src/components/Connection/Connection.test.tsx
  src/components/Connection/Connection.tsx
  src/pages/Home/Features/data.tsx
Due: eslint --fix

build(package): save `linkify-react` and `linkifyjs` to dependencies
  package-lock.json
  package.json
Due: prettier --write

feat(Item): render links with Linkify
  src/components/Columns/Columns.test.tsx
  src/components/Item/Item.test.tsx
  src/components/Item/Item.tsx
  src/components/Items/Items.test.tsx
Due: eslint --fix

test(cypress): render link in e2e board.feature
  cypress/e2e/board/board.feature
Due: none

docs(github): create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

docs(github): tidy CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

docs(readme): move sections to CONTRIBUTING.md
  README.md
Due: prettier --write

build(nvmrc): upgrade Node.js version from 18 to 20
  .nvmrc
Due: none

docs(github): update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write
