Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci(github): update workflow codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: none

ci(github): tidy mergify.yml
  .github/mergify.yml
Due: none

chore(commitlintrc): set footer-max-line-length to warn
  .commitlintrc.json
Due: prettier --write

ci(size-limit): increase limit from 25 s to 30 s
  .size-limit.json
Due: prettier --write

test(components): fix TypeScript errors for react-beautiful-dnd
  src/components/Columns/utils/combine.test.ts
  src/components/Items/styles.test.ts
Due: eslint --fix

chore(database): update rules so only users with uid can read board
  database.rules.json
Due: prettier --write

feat(pages): render text instead of label for "Add board" button
  src/pages/Boards/Boards.test.tsx
  src/pages/Boards/Boards.tsx
Due: eslint --fix

refactor(components): modularize AddBoard from Boards
  src/components/Boards/AddBoard.test.tsx
  src/components/Boards/AddBoard.tsx
  src/pages/Boards/Boards.test.tsx
  src/pages/Boards/Boards.tsx
Due: eslint --fix

fix(store): delete board from store when firebase value is null
  database.rules.json
  src/pages/Board/Board.test.tsx
  src/pages/Board/hooks/useBoard.ts
  src/store/boardsSlice.test.ts
  src/store/boardsSlice.ts
Due: eslint --fix, prettier --write

build(package): save cypress devDependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): add script `cypress:open`
  package.json
Due: prettier --write

docs(readme): document script `cypress:open`
  README.md
Due: prettier --write

test(cypress): initialize cypress
  cypress.config.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: eslint --fix, prettier --write

test(cypress): add tsconfig.json and step_definitions
  cypress/support/step_definitions/index.ts
  cypress/tsconfig.json
Due: eslint --fix, prettier --write

build(package): save `bahmutov/cypress-esbuild-preprocessor`
  package.json
  yarn.lock
Due: prettier --write

test(cypress): update config to process feature files
  cypress.config.ts
Due: eslint --fix

test(cypress): add e2e home.feature
  cypress/e2e/home/home.feature
Due: none

ci(github): add workflow cypress.yml
  .github/workflows/cypress.yml
Due: none

chore(cypress): remove features/example.json
  cypress/fixtures/example.json
Due: prettier --write

ci(github): update mergify.yml to check-success for cypress
  .github/mergify.yml
Due: none

docs(readme): add cypress status badge
  README.md
Due: prettier --write

docs(readme): replace cypress badge with release badge
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): bump cypress-cucumber-steps from 1.40.0 to 1.41.0
  package.json
  yarn.lock
Due: prettier --write

test(cypress): add e2e signup.feature
  cypress/e2e/signup/signup.feature
  cypress/e2e/signup/signup.ts
Due: eslint --fix

test(cypress): add e2e boards.feature
  cypress/e2e/boards/boards.feature
  cypress/e2e/boards/boards.ts
  cypress/e2e/signup/signup.ts
  cypress/fixtures/account.json
  cypress/support/step_definitions/account.ts
  cypress/support/step_definitions/login.ts
  cypress/support/utils.ts
Due: eslint --fix, prettier --write

test(cypress): add e2e board.feature
  cypress/e2e/board/board.feature
  cypress/e2e/board/board.ts
  cypress/e2e/boards/boards.feature
Due: eslint --fix

feat(Column): improve label names
  src/components/Column/Column.test.tsx
  src/components/Column/ColumnName.test.tsx
  src/components/Column/ColumnName.tsx
Due: eslint --fix

feat(Item): use item text instead of id for label name
  src/components/Item/Item.test.tsx
  src/components/Item/Item.tsx
Due: eslint --fix

feat(Item): add item text to LikeButton label
  cypress/e2e/board/board.feature
  src/components/Item/Item.test.tsx
  src/components/Item/LikeButton.test.tsx
  src/components/Item/LikeButton.tsx
  src/components/Item/Likes.test.tsx
Due: eslint --fix

test(cypress): delete item in e2e board/board.feature
  cypress/e2e/board/board.feature
Due: none

test(cypress): harden logout step in board and signup
  cypress/e2e/board/board.feature
  cypress/e2e/signup/signup.feature
Due: none

test(cypress): add e2e logout/logout.feature
  cypress/e2e/logout/logout.feature
  cypress/e2e/logout/logout.ts
Due: eslint --fix

test(cypress): add e2e 404/404.feature
  cypress/e2e/404/404.feature
Due: none

test(cypress): run before step in every feature scenario
  cypress/e2e/board/board.ts
  cypress/e2e/logout/logout.ts
  cypress/e2e/signup/signup.ts
  cypress/support/step_definitions/before.ts
Due: eslint --fix

test(cypress): refactor steps in e2e feature
  cypress/e2e/404/404.feature
  cypress/e2e/board/board.feature
  cypress/e2e/boards/boards.feature
  cypress/e2e/home/home.feature
  cypress/e2e/logout/logout.feature
Due: none

test(cypress): increase retry attempts for `cypress run` from 0 to 3
  cypress.config.ts
Due: eslint --fix

ci(github): add workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
