Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

chore(package): add script firebase:logout
  package.json
Due: prettier --write

chore(package): add script firebase:init
  package.json
Due: prettier --write

ci(firebase): run firebase init
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  database.rules.json
  firebase.json
Due: prettier --write

chore(package): add script firebase:emulators
  package.json
Due: prettier --write

ci(github): install with yarn --frozen-lockfile
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

build(package): save react-firebaseui to dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(env): add .env.local.example
  .env.local.example
Due: none

feat(config): check env and host
  src/config/index.ts
Due: eslint --fix

feat(layout): double margin top and bottom in Layout
  src/layout/Layout.tsx
Due: eslint --fix

feat(firebase): initialize firebase app
  src/firebase/app.ts
Due: eslint --fix

feat(firebase): get reference to auth service
  src/firebase/auth.ts
Due: eslint --fix

feat(firebase): get reference to database service
  src/firebase/database.ts
Due: eslint --fix

feat(firebase): export app, auth, and database
  src/firebase/index.ts
Due: eslint --fix

chore(env): add comment that links to Firebase config settings
  .env.local.example
Due: none

feat(login): sign in with react-firebaseui
  src/login/Login.test.tsx
  src/login/Login.tsx
  src/login/ui-config.ts
Due: eslint --fix

feat(boards): add Boards
  src/boards/Boards.test.tsx
  src/boards/Boards.tsx
  src/boards/index.ts
Due: eslint --fix

feat(routes): render Boards in Routes
  src/routes/Routes.tsx
Due: eslint --fix

build(env): rename .env.local.example -> .env
  .env
Due: none

fix(env): set placeholder API key so local development app runs
  .env
Due: none

docs(readme): add "Install" instructions
  README.md
Due: prettier --write

ci(github): set Firebase environment variables for Create React App
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat(login): update sign in auth providers to only Google and email
  src/login/ui-config.ts
Due: eslint --fix

ci(github): set timeout to 5 minutes for firebase workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): add build.yml workflow
  .github/workflows/build.yml
Due: none

docs(readme): add status badge and link to site
  README.md
Due: prettier --write

ci(github): add dependabot.yml
  .github/dependabot.yml
Due: none

chore(commitlint): set rule "body-max-line-length" to warn
  .commitlintrc.json
Due: prettier --write

ci(github): replace `npx` with `yarn` in build.yml
  .github/workflows/build.yml
Due: none

ci(github): tidy firebase hosting workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): hardcode Firebase projectId in workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): hardcode Firebase auth domain and storage bucket
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): set dev env vars and secrets for firebase-hosting-merge
  .github/workflows/firebase-hosting-merge.yml
Due: none

ci(github): fix Firebase deploy workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): hardcode Firebase database url in workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): add workflow pull-request-check.yml
  .github/workflows/pull-request-check.yml
Due: none

ci(github): use PR check to trigger Firebase deploy workflow
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/pull-request-check.yml
Due: none

ci(github): update Firebase deploy workflow run to match every branch
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

build(package): save redux dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor(components): move and rename components under 1 directory
  src/components/Boards/Boards.test.tsx
  src/components/Boards/Boards.tsx
  src/components/Boards/index.ts
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
  src/components/Home/index.ts
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Header.test.tsx.snap
  src/components/Layout/index.ts
  src/components/Login/Login.tsx
  src/components/Login/index.ts
  src/components/Login/uiConfig.ts
  src/components/Routes/Routes.tsx
  src/components/Routes/index.ts
  src/index.tsx
Due: eslint --fix

fix(layout): wrap Header in Container so it's aligned with Layout
  src/components/Layout/Header.tsx
  src/components/Layout/__snapshots__/Header.test.tsx.snap
Due: eslint --fix
