Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(hooks): create useGetBoard
  src/hooks/index.ts
  src/hooks/useGetBoard.test.ts
  src/hooks/useGetBoard.ts
  src/pages/Board/hooks/useBoard.ts
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

refactor(hooks): rename useGetBoard to useGetBoardOrList
  src/hooks/index.ts
  src/hooks/useGetBoard.test.ts
  src/hooks/useGetBoard.ts
  src/hooks/useGetBoardOrList.test.ts
  src/hooks/useGetBoardOrList.ts
  src/pages/Board/hooks/useBoard.ts
  src/pages/Boards/BoardCard.tsx
  src/pages/List/hooks/useList.ts
  src/pages/Lists/ListCard.tsx
Due: eslint --fix

refactor(BoardCard): tidy functions with useCallback
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

test(pages): refactor Login.test.tsx
  src/pages/Login/Login.test.tsx
Due: eslint --fix

feat(pages): navigate to board on submit in BoardCard
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

test(cypress): navigate to board on submit in boards.feature
  cypress/e2e/boards/boards.feature
Due: none

test(cypress): increase wait in boards.feature
  cypress/e2e/boards/boards.feature
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

refactor(pages): tidy BoardCard
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

refactor(pages): tidy ListCard
  src/pages/Lists/ListCard.tsx
Due: eslint --fix

refactor(pages): tidy BoardCard imports
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

feat(pages): navigate to list on submit in ListCard
  src/pages/Lists/ListCard.test.tsx
  src/pages/Lists/ListCard.tsx
Due: eslint --fix

test(cypress): navigate to list on submit in lists.feature
  cypress/e2e/lists/lists.feature
Due: none

refactor(hooks): tidy hooks
  src/hooks/useAuth.ts
  src/hooks/useDispatch.ts
  src/hooks/useGetItemIds.ts
  src/hooks/useGetLikes.ts
  src/hooks/useGetRow.ts
  src/hooks/useGetRowIds.ts
  src/hooks/useGetUserId.ts
  src/hooks/useGetUserPhotoURL.ts
  src/hooks/useIsAdmin.ts
  src/hooks/useIsLoggedIn.ts
  src/hooks/useMaxLikes.ts
  src/hooks/useSelector.ts
  src/types/user.ts
Due: eslint --fix

refactor(hooks): create and use useIsEditing
  src/components/Column/ColumnName.tsx
  src/components/Item/Item.tsx
  src/components/ListItem/ListItem.tsx
  src/components/Row/RowName.tsx
  src/hooks/index.ts
  src/hooks/useIsEditing.test.ts
  src/hooks/useIsEditing.ts
  src/pages/Boards/BoardCard.tsx
  src/pages/Lists/ListCard.tsx
Due: eslint --fix

perf(Item): replace function with useCallback
  src/components/Item/Item.tsx
Due: eslint --fix

refactor(hooks): create useItem and use in Item
  src/components/Item/Item.tsx
  src/hooks/index.ts
  src/hooks/useItem.test.ts
  src/hooks/useItem.ts
Due: eslint --fix

refactor(hooks): rename useGetRow to useRow
  src/components/Row/Row.tsx
  src/hooks/index.ts
  src/hooks/useRow.test.ts
  src/hooks/useRow.ts
Due: eslint --fix

refactor(hooks): rename useGetRowIds to useRowIds
  src/components/Rows/Rows.tsx
  src/hooks/index.ts
  src/hooks/useRowIds.test.ts
  src/hooks/useRowIds.ts
Due: eslint --fix

refactor(hooks): rename useGetLikes to useLikes
  src/components/Item/LikeButton.tsx
  src/components/Item/Likes.tsx
  src/hooks/index.ts
  src/hooks/useLikes.test.ts
  src/hooks/useLikes.ts
Due: eslint --fix

refactor(hooks): rename useGetUserId to useUserId
  src/components/AddBoard/AddBoard.tsx
  src/components/AddList/AddList.tsx
  src/components/AddRow/AddRow.tsx
  src/components/BoardControls/AddColumn.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/DragDropContainer.tsx
  src/components/Item/Item.tsx
  src/components/Item/LikeButton.tsx
  src/components/Items/Items.tsx
  src/components/ListItem/Checkbox.tsx
  src/components/ListItem/ListItem.tsx
  src/components/ListItems/ListItems.tsx
  src/components/Row/RowName.tsx
  src/hooks/index.ts
  src/hooks/useUserId.test.ts
  src/hooks/useUserId.ts
  src/pages/Boards/BoardCard.tsx
  src/pages/Boards/hooks/useBoards.ts
  src/pages/Lists/ListCard.tsx
  src/pages/Lists/hooks/useLists.ts
Due: eslint --fix

refactor(hooks): rename useGetItemIds to useItemIds
  src/components/Column/ColumnName.tsx
  src/components/Items/DroppableItems.tsx
  src/components/ListItems/DroppableItems.tsx
  src/components/ListItems/ListItems.tsx
  src/hooks/index.ts
  src/hooks/useItemIds.test.ts
  src/hooks/useItemIds.ts
Due: eslint --fix

refactor(hooks): rename useGetBoardOrList to useBoardOrList
  src/hooks/index.ts
  src/hooks/useBoardOrList.test.ts
  src/hooks/useBoardOrList.ts
  src/pages/Board/hooks/useBoard.ts
  src/pages/Boards/BoardCard.tsx
  src/pages/List/hooks/useList.ts
  src/pages/Lists/ListCard.tsx
Due: eslint --fix

refactor(hooks): rename useGetUserPhotoURL to useUserPhotoURL
  src/components/ListItem/ListItem.tsx
  src/hooks/index.ts
  src/hooks/useUserPhotoURL.test.ts
  src/hooks/useUserPhotoURL.ts
Due: eslint --fix

test(jest): fix test errors
  jest.config.ts
  package-lock.json
  package.json
  src/components/App/App.tsx
  test/setupFiles.ts
  test/setupFilesAfterEnv.ts
  test/utils.tsx
Due: eslint --fix, prettier --write

test(mocks): replace styleMock with `identity-obj-proxy`
  jest.config.ts
  package-lock.json
  package.json
  test/__mocks__/styleMock.js
Due: eslint --fix, prettier --write

test(setupFiles): replace `text-encoding` with `node:util`
  package-lock.json
  package.json
  test/setupFiles.ts
Due: eslint --fix, prettier --write

chore(package): add script "clean"
  package.json
Due: prettier --write

build(package): upgrade `react-dom` and set overrides for `react-is`
  package-lock.json
  package.json
Due: prettier --write

ci(github): remove size-limit
  .github/mergify.yml
  .github/workflows/size-limit.yml
  .size-limit.json
  package-lock.json
  package.json
Due: prettier --write

build(package): bump eslint from 9.25.1 to 9.26.0
  package-lock.json
  package.json
Due: prettier --write

build(package): upgrade Material UI from v6 to v7
  package-lock.json
  package.json
  src/components/Column/Column.tsx
  src/pages/Boards/BoardCard.tsx
  src/pages/Home/Features/Features.tsx
  src/pages/Lists/ListCard.tsx
Due: eslint --fix, prettier --write

ci(github): replace deprecated action in release-please.yml
  .github/workflows/release-please.yml
Due: none

build(package): fix 3 vulnerabilities (1 moderate, 2 high)
  package-lock.json
Due: prettier --write

ci(github): add group mui to dependabot.yml
  .github/dependabot.yml
Due: none

refactor: replace `onFID` with `onINP` in reportWebVitals.ts
  src/reportWebVitals.ts
Due: eslint --fix

build(package): bump jest-watch-typeahead from 2.2.2 to 3.0.1
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

build(nvmrc): upgrade Node.js version from 20 to 22
  .nvmrc
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
