Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci(github): move mergify.yml
  .github/mergify.yml
Due: none

ci(github): replace auto-approve with mergify check-success
  .github/mergify.yml
  .github/workflows/build.yml
Due: none

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): save size-limit to devDependencies
  package.json
  yarn.lock
Due: prettier --write

ci(size-limit): add .size-limit.json with limit of 10 seconds
  .size-limit.json
Due: prettier --write

chore(package): add script `size` that runs size-limit
  package.json
Due: prettier --write

ci(github): add workflow size-limit.yml
  .github/workflows/size-limit.yml
Due: none

refactor(firebase): add getAnalytics helper
  src/firebase/analytics.ts
  src/firebase/helpers.ts
Due: eslint --fix

refactor(firebase): add initializeApp helper
  src/firebase/app.ts
Due: eslint --fix

refactor(firebase): add getAuth helper
  src/firebase/auth.ts
  src/firebase/helpers.ts
Due: eslint --fix

refactor(firebase): add database helpers
  src/firebase/database.ts
  src/firebase/helpers.ts
Due: eslint --fix

fix(components): rename "Present" to "Hide Likes" in board controls
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Present.test.tsx
  src/components/BoardControls/Present.tsx
Due: eslint --fix

chore: add `eslint-plugin-tsdoc`
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

feat: migrate MUI from v4 to v5
  package.json
  src/components/AddButton/AddButton.tsx
  src/components/Board/Board.tsx
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/Present.tsx
  src/components/BoardControls/Sort.tsx
  src/components/BoardControls/Timer.tsx
  src/components/Boards/BoardCard.test.tsx
  src/components/Boards/BoardCard.tsx
  src/components/Boards/BoardCards.tsx
  src/components/Boards/Boards.tsx
  src/components/CloseButton/CloseButton.tsx
  src/components/Column/Column.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/Columns.tsx
  src/components/Home/Home.tsx
  src/components/Item/Item.tsx
  src/components/Item/LikeButton.tsx
  src/components/Item/Likes.tsx
  src/components/Items/DraggableItem.tsx
  src/components/Items/DroppableItems.tsx
  src/components/Items/Items.tsx
  src/components/Items/styles.test.ts
  src/components/Items/styles.ts
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/Layout.tsx
  src/components/Login/Login.tsx
  src/components/NotFound/NotFound.tsx
  src/components/Snackbar/Snackbar.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix(components): underline Header homepage link on hover
  src/components/Layout/Header.tsx
Due: eslint --fix

docs(readme): update links
  README.md
Due: prettier --write

fix(components): move delete button to BoardCard bottom
  src/components/Boards/BoardCard.tsx
Due: eslint --fix

perf: upgrade firebase from v8 to v9
  .env
  package.json
  src/components/Board/Board.test.tsx
  src/components/Board/hooks/useBoard.ts
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/AddColumn.tsx
  src/components/BoardControls/Present.test.tsx
  src/components/BoardControls/Present.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/BoardControls/Sort.tsx
  src/components/Boards/BoardCard.tsx
  src/components/Boards/Boards.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useColumns.ts
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useItems.ts
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Columns/hooks/useLikes.ts
  src/components/Item/Item.tsx
  src/components/Item/LikeButton.tsx
  src/components/Items/Items.tsx
  src/components/Login/Login.test.tsx
  src/components/Login/Login.tsx
  src/components/Login/uiConfig.ts
  src/components/Logout/Logout.test.tsx
  src/components/Logout/Logout.tsx
  src/components/Routes/Protected.test.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
  src/firebase/analytics.ts
  src/firebase/app.ts
  src/firebase/auth.ts
  src/firebase/database.ts
  src/firebase/helpers.ts
  src/hooks/useAuth.ts
  src/store/userSlice.ts
  src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: document GitHub in auth-providers.md
  docs/auth-providers.md
Due: prettier --write

docs(firebase): change link comment to TSDoc @link
  src/firebase/database.ts
Due: eslint --fix

fix(store): delete column itemIds when payload itemIds is empty
  src/components/Columns/hooks/useColumns.test.tsx
  src/store/columnsSlice.test.ts
  src/store/columnsSlice.ts
Due: eslint --fix

ci(github): add size to check-success in mergify.yml
  .github/mergify.yml
Due: none

chore(components): fix TypeScript error in Snackbar
  src/components/Snackbar/Snackbar.tsx
Due: eslint --fix

ci(github): fix check-success in mergify.yml
  .github/mergify.yml
Due: none

feat(components): decrease Timer input max and size
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

docs(changelog): tidy CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

feat(components): render MaxLikes in BoardControls
  src/components/BoardControls/BoardControls.tsx
Due: eslint --fix

feat(components): remove item id from aria-label for Likes & LikeButton
  src/components/Item/LikeButton.tsx
  src/components/Item/Likes.tsx
Due: eslint --fix

feat(components): check maxLikes in LikeButton
  src/components/Item/LikeButton.test.tsx
  src/components/Item/LikeButton.tsx
Due: eslint --fix

feat(hooks): add useMaxLikes
  src/hooks/index.ts
  src/hooks/useMaxLikes.test.ts
  src/hooks/useMaxLikes.ts
Due: eslint --fix

feat(components): add MaxLikes
  src/components/BoardControls/MaxLikes.test.tsx
  src/components/BoardControls/MaxLikes.tsx
Due: eslint --fix

chore(types): add maxLikes to Board
  src/types/index.ts
Due: eslint --fix

test(utils): allow board to be passed in updateStore.withBoard
  src/utils/test.tsx
Due: eslint --fix

refactor: replace getStoreState() with store.getState()
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/Present.test.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/Boards/BoardCard.test.tsx
  src/components/Boards/Boards.test.tsx
  src/components/Column/Column.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Item/Item.test.tsx
  src/components/Logout/Logout.test.tsx
  src/utils/test.tsx
Due: eslint --fix

docs(readme): update alt text for logo image
  README.md
Due: prettier --write

feat(components): add home Hero
  src/components/Home/Hero/Hero.tsx
  src/components/Home/Hero/hero.png
  src/components/Home/Hero/index.ts
Due: eslint --fix

feat(components): add home Features
  src/components/Home/Features/Features.tsx
  src/components/Home/Features/data.tsx
  src/components/Home/Features/index.ts
Due: eslint --fix

feat(components): render Hero and Features in Home; modularize Footer
  src/components/Home/Footer/Footer.tsx
  src/components/Home/Footer/index.ts
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
Due: eslint --fix

chore(public): update index.html lang and title
  public/index.html
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
