Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

refactor(types): rename LikeItem and LikeItems
  src/components/Columns/utils/combine.ts
  src/firebase/database.ts
  src/store/likesSlice.ts
  src/types/index.ts
Due: eslint --fix

refactor(hooks): move useBoard to hooks directory
  src/components/Board/Board.tsx
  src/components/Board/hooks/index.ts
  src/components/Board/hooks/useBoard.ts
Due: eslint --fix

fix: sort boards by created at date descending
  src/components/Boards/BoardCards.tsx
  src/types/index.ts
  src/utils/index.ts
  src/utils/sort.test.ts
  src/utils/sort.ts
Due: eslint --fix

fix(components): don't render boards link in header unless logged in
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

feat: redirect to previous route if applicable on login
  src/components/Layout/Header.tsx
  src/components/Login/Login.test.tsx
  src/components/Login/Login.tsx
  src/components/Routes/ProtectedRoute.tsx
  src/constants/index.ts
  src/utils/test.tsx
Due: eslint --fix

fix(components): redirect to "/boards" when location state is "/"
  src/components/Login/Login.test.tsx
  src/components/Login/Login.tsx
Due: eslint --fix

fix(hooks): log 'login' event and return loaded state in useAuth
  src/hooks/useAuth.ts
Due: eslint --fix

fix(components): wrap Board in Auth so anonymous user sees board
  src/components/Auth/Auth.tsx
  src/components/Auth/index.ts
  src/components/Board/Board.test.tsx
  src/components/Board/Board.tsx
  src/components/Board/BoardAuth.test.tsx
  src/components/Board/BoardAuth.tsx
  src/components/Board/index.ts
Due: eslint --fix

fix(hooks): don't set state until anonymous sign in is successful
  src/components/Board/BoardAuth.test.tsx
  src/hooks/useAuth.ts
Due: eslint --fix

fix(hooks): set is loaded to true as else condition in useAuth
  src/hooks/useAuth.ts
Due: eslint --fix

refactor(components): move Auth and BoardAuth to Protected route
  src/components/Auth/Auth.tsx
  src/components/Auth/index.ts
  src/components/Board/Board.tsx
  src/components/Board/BoardAuth.test.tsx
  src/components/Board/BoardAuth.tsx
  src/components/Board/index.ts
  src/components/Routes/Protected.test.tsx
  src/components/Routes/Protected.tsx
  src/components/Routes/ProtectedRoute.test.tsx
  src/components/Routes/Routes.tsx
Due: eslint --fix

chore(store): add skipSave to columnsSlice updateColumn & deleteColumn
  src/store/columnsSlice.test.ts
  src/store/columnsSlice.ts
Due: eslint --fix

perf(hooks): listen to separate ref events in useColumns
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useColumns.ts
Due: eslint --fix

chore(store): remove columnsSlice loadColumns and update utils test
  src/store/columnsSlice.test.ts
  src/store/columnsSlice.ts
  src/utils/test.tsx
Due: eslint --fix

refactor(store): rename actions.deleteColumn to actions.removeColumn
  src/components/Column/ColumnName.tsx
  src/components/Columns/hooks/useColumns.ts
  src/store/columnsSlice.test.ts
  src/store/columnsSlice.ts
Due: eslint --fix

feat(public): add favicon and app icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
Due: prettier --write

docs(readme): add logo and links
  README.md
Due: prettier --write

docs(readme): remove target="_blank" from links
  README.md
Due: prettier --write

docs(readme): update url to lilboards.org
  README.md
Due: prettier --write

docs(readme): add links to project stack
  README.md
Due: prettier --write

feat(components): render GitHub link in Header
  src/components/Layout/Header.tsx
  src/components/Layout/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

test(components): replace Header snapshot test
  src/components/Layout/Header.test.tsx
  src/components/Layout/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

feat: update description in package.json, index.html, and Home
  package.json
  public/index.html
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
Due: eslint --fix, prettier --write

chore(github): add FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: add emailVerified to userSlice
  src/hooks/useAuth.ts
  src/store/userSlice.ts
  src/types/index.ts
  src/utils/test.tsx
Due: eslint --fix

refactor(hooks): modularize useEffect from Boards to useBoards
  src/components/Boards/Boards.tsx
  src/components/Boards/hooks/index.ts
  src/components/Boards/hooks/useBoards.ts
Due: eslint --fix

fix(components): render VerifyEmail if email is unverified in Protected
  src/components/Routes/Protected.test.tsx
  src/components/Routes/Protected.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
  src/components/VerifyEmail/index.ts
Due: eslint --fix

fix(components): remind user to log out after email is verified
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
Due: eslint --fix

fix(database): read and write to users if email is verified
  database.rules.json
Due: prettier --write

refactor(components): replace useLocation with location in Header
  src/components/Layout/Header.tsx
Due: eslint --fix

refactor(components): render Layout in index instead of components
  src/components/Board/Board.tsx
  src/components/Boards/Boards.tsx
  src/components/Home/Home.tsx
  src/components/Login/Login.tsx
  src/components/NotFound/NotFound.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
  src/index.tsx
Due: eslint --fix

test(components): replace renderWithStore with render
  src/components/Home/Home.test.tsx
  src/components/NotFound/NotFound.test.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
Due: eslint --fix

test(components): rename `renderWithStore` with `renderWithContext`
  src/components/Board/Board.test.tsx
  src/components/BoardControls/BoardControls.test.tsx
  src/components/Boards/BoardCard.test.tsx
  src/components/Boards/BoardCards.test.tsx
  src/components/Boards/Boards.test.tsx
  src/components/Column/Column.test.tsx
  src/components/Column/ColumnName.test.tsx
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Item/Item.test.tsx
  src/components/Item/Likes.test.tsx
  src/components/Items/Items.test.tsx
  src/components/Layout/Header.test.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Login/Login.test.tsx
  src/components/Logout/Logout.test.tsx
  src/components/Routes/Protected.test.tsx
  src/utils/test.tsx
Due: eslint --fix

feat(components): set button color and outline in VerifyEmail
  src/components/VerifyEmail/VerifyEmail.tsx
Due: eslint --fix

feat(components): add Snackbar
  src/components/Snackbar/Snackbar.test.tsx
  src/components/Snackbar/Snackbar.tsx
  src/components/Snackbar/index.ts
Due: eslint --fix

feat(components): render Snackbar in VerifyEmail
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
Due: eslint --fix

feat(components): add GitHub as auth provider in Login
  src/components/Login/__snapshots__/uiConfig.test.ts.snap
  src/components/Login/uiConfig.ts
Due: eslint --fix

docs: add auth-provider.md
  docs/auth-providers.md
Due: prettier --write

docs: add GitHub to auth-providers.md
  docs/auth-providers.md
Due: prettier --write

refactor(hooks): listen to board ref in useBoard
  src/components/Board/Board.test.tsx
  src/components/Board/Board.tsx
  src/components/Board/hooks/useBoard.ts
Due: eslint --fix
