Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(package): start only firebase emulators auth and database
  package.json
Due: prettier --write

fix: don't make column items temporarily disappear during rename
  src/components/Column/ColumnName.tsx
  src/store/columnsSlice.test.ts
  src/store/columnsSlice.ts
Due: eslint --fix

ci(github): tidy workflow release-please.yml
  .github/workflows/release-please.yml
Due: none

Revert "build(deps-dev): bump firebase-tools from 11.13.0 to 11.14.0"
  package.json
  yarn.lock
Due: prettier --write

refactor(index): add LocationProvider to top of the application tree
  src/index.tsx
Due: eslint --fix

refactor(components): use useLocation hook in Login
  src/components/Login/Login.test.tsx
  src/components/Login/Login.tsx
Due: eslint --fix

build(yarn): update browserslist db to latest
  yarn.lock
Due: none

refactor: migrate from @reach/router to react-router@6
  package.json
  src/components/Board/Board.test.tsx
  src/components/Board/Board.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/Boards/BoardCard.tsx
  src/components/Boards/Boards.tsx
  src/components/Home/Hero/Hero.tsx
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
  src/components/Layout/Header.tsx
  src/components/Login/Login.test.tsx
  src/components/Login/Login.tsx
  src/components/Logout/Logout.test.tsx
  src/components/Logout/Logout.tsx
  src/components/NotFound/NotFound.test.tsx
  src/components/NotFound/NotFound.tsx
  src/components/Routes/Protected.test.tsx
  src/components/Routes/Protected.tsx
  src/components/Routes/Routes.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/components/VerifyEmail/VerifyEmail.tsx
  src/hooks/useAuth.test.tsx
  src/hooks/useAuth.ts
  src/index.tsx
  src/utils/test.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix(utils): change `replaceAll` to `replace` in transform.ts
  src/components/BoardControls/utils/transform.ts
Due: eslint --fix

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: none

ci(github): update firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

ci(github): update firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

docs(readme): add prerequisites and Database Emulator error
  README.md
Due: prettier --write

refactor(components): replace Box with sx in Layout Header
  src/components/Layout/Header.tsx
Due: eslint --fix

refactor(components): replace firebaseui-web-react with firebaseui
  package.json
  src/components/Login/Login.test.tsx
  src/components/Login/Login.tsx
  src/components/Login/StyledFirebaseAuth.tsx
  yarn.lock
Due: eslint --fix, prettier --write

perf: replace react-dom with react-dom/client and use React 18
  src/index.test.tsx
  src/index.tsx
Due: eslint --fix

test(components): add tests for Login StyledFirebaseAuth
  src/components/Login/StyledFirebaseAuth.test.tsx
  src/components/Login/StyledFirebaseAuth.tsx
Due: eslint --fix

test(components): refactor `jest.Mock` to `jest.mocked`
  src/components/Board/Board.test.tsx
  src/components/BoardControls/AddColumn.test.tsx
  src/components/Boards/Boards.test.tsx
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Login/Login.test.tsx
  src/components/Logout/Logout.test.tsx
  src/hooks/useDispatch.test.ts
  src/hooks/useIsAdmin.test.ts
  src/hooks/useMaxLikes.test.ts
  src/hooks/useSelector.test.ts
Due: eslint --fix

refactor(components): use sx instead of Box styles
  src/components/Boards/Boards.tsx
  src/components/Column/ColumnName.tsx
  src/components/Home/Footer/Footer.tsx
  src/components/Home/Hero/Hero.tsx
  src/components/Item/Item.tsx
  src/components/Items/Items.tsx
  src/components/Layout/Layout.tsx
Due: eslint --fix

refactor(components): replace `type Props` with `interface Props`
  src/components/Boards/BoardCard.tsx
  src/components/Column/Column.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/Columns.tsx
  src/components/Columns/DragDropContainer.tsx
  src/components/Items/DroppableItems.tsx
  src/components/Items/InnerList.tsx
  src/components/Items/Items.tsx
  src/components/Layout/Layout.tsx
Due: eslint --fix

fix(Header): don't let "Lilboards" link take full width
  src/components/Layout/Header.tsx
Due: eslint --fix

chore(components): remove unused var and update .eslintrc.json
  .eslintrc.json
  src/components/Columns/hooks/useLikes.test.tsx
Due: eslint --fix, prettier --write

refactor: fully migrate to react-router-dom 6 & remove react-router
  package.json
  src/components/Layout/Layout.test.tsx
  src/components/Layout/Layout.tsx
  src/components/Protected/Protected.test.tsx
  src/components/Protected/Protected.tsx
  src/components/Protected/index.ts
  src/components/Routes/Routes.tsx
  src/components/Routes/index.ts
  src/index.tsx
  src/routes.test.tsx
  src/routes.tsx
  yarn.lock
Due: eslint --fix, prettier --write

ci(workflow): update firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): fix firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): tidy firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

ci(size-limit): increase limit from 10 s to 20 s
  .size-limit.json
Due: prettier --write

perf(components): code-split and lazy-load components in routes
  src/components/Board/index.test.tsx
  src/components/Board/index.ts
  src/components/Board/index.tsx
  src/components/Boards/index.test.tsx
  src/components/Boards/index.ts
  src/components/Boards/index.tsx
  src/components/Home/index.test.tsx
  src/components/Home/index.ts
  src/components/Home/index.tsx
  src/components/Login/index.test.tsx
  src/components/Login/index.ts
  src/components/Login/index.tsx
  src/components/Logout/index.test.tsx
  src/components/Logout/index.ts
  src/components/Logout/index.tsx
  src/components/NotFound/index.test.tsx
  src/components/NotFound/index.ts
  src/components/NotFound/index.tsx
  src/components/Protected/Protected.test.tsx
  src/components/Protected/Protected.tsx
  src/components/Protected/index.test.tsx
  src/components/Protected/index.ts
  src/components/Protected/index.tsx
  src/index.test.tsx
  src/routes.test.tsx
  src/routes.tsx
Due: eslint --fix

feat(components): update Export icon and improve copy and margin
  src/components/BoardControls/Export.tsx
  src/components/BoardControls/Sort.tsx
  src/pages/Board/BoardName.test.tsx
  src/pages/Board/BoardName.tsx
Due: eslint --fix

feat(pages): render breadcrumbs in Board
  src/pages/Board/Board.test.tsx
  src/pages/Board/Board.tsx
  src/pages/Board/BoardName.test.tsx
  src/pages/Board/BoardName.tsx
Due: eslint --fix

feat(public): add Open Graph meta tags to index.html
  public/index.html
  public/logo.png
  public/logo.svg
Due: prettier --write

ci(size-limit): increase limit from 20 s to 25 s
  .size-limit.json
Due: prettier --write

docs(readme): update logo
  README.md
Due: prettier --write

refactor(routes): refactor Protected to layout route
  src/components/Protected/Protected.test.tsx
  src/components/Protected/Protected.tsx
  src/components/Protected/index.test.tsx
  src/routes.test.tsx
  src/routes.tsx
Due: eslint --fix

fix(components): fix margins of BoardControls
  src/components/BoardControls/Export.tsx
  src/components/BoardControls/Present.tsx
  src/components/BoardControls/Sort.tsx
Due: eslint --fix

refactor: rename Present to HideLikes and presenting to hideLikes
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/HideLikes.test.tsx
  src/components/BoardControls/HideLikes.tsx
  src/components/Item/LikeButton.tsx
  src/store/userSlice.test.ts
  src/store/userSlice.ts
  src/types/index.ts
Due: eslint --fix

refactor(routes): tidy route paths
  src/routes.test.tsx
  src/routes.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
