Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(store): enable devTools only in development mode
  src/store/store.ts
Due: eslint --fix

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): bump firebase from 9.23.0 to 10.0.0
  package.json
  yarn.lock
Due: prettier --write

Revert "build(deps): bump codecov/codecov-action from 3 to 4 (#1387)"
  .github/workflows/build.yml
Due: none

build(cypress): update cypress.config.ts
  cypress.config.ts
Due: eslint --fix

refactor(components): fix TypeScript error in Header
  src/components/Layout/Header.tsx
Due: eslint --fix

build(yarn): update caniuse-lite
  yarn.lock
Due: none

build(package): downgrade typescript from 5.2.2 to 5.1.6
  package.json
  yarn.lock
Due: prettier --write

build(package): remove caret from dependency version
  package.json
  yarn.lock
Due: prettier --write

build(package): replace `yarn.lock` with `package-lock.json`
  package-lock.json
  yarn.lock
Due: prettier --write

ci(github): replace `yarn.lock` with `package-lock.json` in CODEOWNERS
  .github/CODEOWNERS
Due: none

build(npmrc): set legacy-peer-deps to true
  .npmrc
Due: none

ci(github): replace yarn with npm in workflows
  .github/workflows/build.yml
  .github/workflows/cypress.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore(package): replace yarn with npm in package.json
  package-lock.json
  package.json
Due: prettier --write

chore(husky): replace yarn with npm in commit-msg and pre-commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

docs(readme): replace yarn with npm
  README.md
Due: prettier --write

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

test(cypress): harden e2e board/board.feature
  cypress/e2e/board/board.feature
Due: none

refactor(firebase): fix debounce import
  src/firebase/database.ts
Due: eslint --fix

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

test(firebase): disable auth emulator warnings
  src/firebase/auth.ts
Due: eslint --fix

test: add jest.config.ts, __mocks__, and move setupTests to test
  jest.config.ts
  package.json
  test/__mocks__/fileMock.js
  test/__mocks__/styleMock.js
  test/__mocks__/svgMock.js
  test/setupTests.ts
  tsconfig.json
Due: eslint --fix, prettier --write

test(src): update snapshots
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/utils/__snapshots__/transform.test.ts.snap
  src/components/Boards/AddBoard.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Columns/utils/__snapshots__/combine.test.ts.snap
  src/components/Columns/utils/combine.test.ts
  src/components/Items/styles.test.ts
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Login/__snapshots__/uiConfig.test.ts.snap
  src/routes/__snapshots__/routes.test.tsx.snap
  src/routes/routes.test.tsx
  src/store/slices/likesSlice.test.ts
  src/utils/sort.test.ts
Due: eslint --fix

build(package): save `jest` dependencies
  package-lock.json
  package.json
Due: prettier --write

build(package): replace `react-scripts` with `vite` in dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(types): add typings.d.ts
  src/types/typings.d.ts
Due: eslint --fix

build(package): replace `react-scripts` with `vite` in scripts
  package.json
Due: prettier --write

chore(types): add env.d.ts
  src/types/env.d.ts
Due: eslint --fix

refactor: fix lint errors
  cypress/support/step_definitions/login.ts
  src/components/BoardControls/BoardControls.test.tsx
  src/components/Item/Delete.test.tsx
  src/pages/Logout/Logout.test.tsx
  src/store/slices/columnsSlice.test.ts
Due: eslint --fix

chore(eslintrc): remove `react-app` and update .eslintrc.json
  .eslintrc.json
Due: prettier --write

test: polyfill fetch with `jest-fetch-mock`
  package-lock.json
  package.json
  test/setupTests.ts
Due: eslint --fix, prettier --write

test(components): harden tests by clearing jest mocks
  src/components/BoardControls/MaxLikes.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
Due: eslint --fix

test(src): fix test coverage and achieve 100%
  src/components/BoardControls/index.test.ts
  src/components/Columns/hooks/index.test.ts
  src/components/Columns/index.test.ts
  src/components/Snackbar/Snackbar.test.tsx
  src/hooks/useGetUserId.ts
  src/index.test.tsx
  src/pages/Board/hooks/index.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
