Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(store): refactor boardsSlice loadBoard payload
  src/components/Board/hooks/useBoard.ts
  src/components/Boards/hooks/useBoards.ts
  src/store/boardsSlice.test.ts
  src/store/boardsSlice.ts
  src/utils/test.tsx
Due: eslint --fix

chore(components): log "Sort by likes" event in BoardControls
  src/components/BoardControls/BoardControls.tsx
Due: eslint --fix

fix(components): ensure GitHub icon button link displays in Header
  src/components/Layout/Header.tsx
Due: eslint --fix

fix(components): change card bgcolor when dragging over combine
  src/components/Item/Item.test.tsx
  src/components/Item/Item.tsx
  src/components/Items/DraggableItem.tsx
  src/components/Items/DroppableItems.tsx
  src/components/Items/styles.test.ts
  src/components/Items/styles.ts
Due: eslint --fix

feat(components): replace Header GitHub link with Bitly link
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
Due: eslint --fix

feat(components): add GitHub, remarkablemark, & version links in Home
  src/components/Home/Home.test.tsx
  src/components/Home/Home.tsx
Due: eslint --fix

refactor(components): modularize Sort from BoardControls
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/BoardControls/Sort.tsx
Due: eslint --fix

refactor(components): modularize AddColumn from BoardControls
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/AddColumn.tsx
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/BoardControls.tsx
Due: eslint --fix

test(components): add expect for firebaseAnalytics in AddColumn
  src/components/BoardControls/AddColumn.test.tsx
Due: eslint --fix

refactor(components): modularize LikeButton from Likes
  src/components/Item/LikeButton.tsx
  src/components/Item/Likes.tsx
Due: eslint --fix

feat(components): render Present in BoardControls
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/BoardControls.tsx
Due: eslint --fix

feat(components): create Present
  src/components/BoardControls/Present.test.tsx
  src/components/BoardControls/Present.tsx
Due: eslint --fix

feat(store): add toggleUserPresenting to userSlice
  src/store/userSlice.test.ts
  src/store/userSlice.ts
  src/types/index.ts
Due: eslint --fix

feat(components): don't show filled LikeButton when user's presenting
  src/components/Item/LikeButton.tsx
Due: eslint --fix

feat(components): render Timer in BoardControls
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

feat(utils): add timer helper methods and constants
  src/components/BoardControls/constants.ts
  src/components/BoardControls/utils/index.ts
  src/components/BoardControls/utils/timer.test.ts
  src/components/BoardControls/utils/timer.ts
Due: eslint --fix

feat(components): start and stop Timer and show alert at timer end
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/Timer.tsx
  src/components/BoardControls/constants.ts
Due: eslint --fix

test(components): make sure Timer is rendered in BoardControls
  src/components/BoardControls/BoardControls.test.tsx
Due: eslint --fix

fix(hooks): update useBoard to dispatch action in setTimeout
  src/components/Board/Board.test.tsx
  src/components/Board/hooks/useBoard.ts
Due: eslint --fix

feat(components): save timerEnd to store and firebase in Timer
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/Timer.tsx
  src/types/index.ts
Due: eslint --fix

feat(components): only allow board creator to edit Timer
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

fix(components): render editable Timer for board creator
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

test(components): test Timer renders null for falsy canEdit & timerEnd
  src/components/BoardControls/Timer.test.tsx
Due: eslint --fix

ci(github): read package name in workflow `release-please.yml`
  .github/workflows/release-please.yml
Due: none

ci(github): remove timeout-minutes from workflows
  .github/workflows/build.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): add Codecov to workflow `build.yml`
  .github/workflows/build.yml
Due: none

docs(readme): add Codecov status badge
  README.md
Due: prettier --write

ci(github): trigger workflow build.yml on pull_request
  .github/workflows/build.yml
Due: none

ci(github): fix cache action in workflow `build.yml`
  .github/workflows/build.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci(github): add workflow automerge.yml
  .github/workflows/automerge.yml
Due: none

ci(github): fix merge label in automerge.yml
  .github/workflows/automerge.yml
Due: none

ci(github): add workflow auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

ci(Mergify): configuration update
  .mergify.yml
Due: none

style: tidy .mergify.yml
  .mergify.yml
Due: none

ci(github): delete automerge.yml
  .github/workflows/automerge.yml
Due: none

ci(github): add auto-approve to build.yml
  .github/workflows/build.yml
Due: none

ci(github): delete workflow auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

ci(github): fix auto-approve in build workflow
  .github/workflows/build.yml
Due: none

ci(mergify): merge Dependabot PR when it's approved
  .mergify.yml
Due: none

ci(root): add label condition to pull_request_target in build
  .github/workflows/build.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
