Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(components): refactor tests and fix lint errors
  src/components/Board/Board.test.tsx
  src/components/BoardControls/MaxLikes.test.tsx
  src/components/BoardControls/Timer.test.tsx
  src/components/Boards/BoardCard.test.tsx
  src/components/Boards/Boards.test.tsx
  src/components/Column/Column.test.tsx
  src/components/Item/Item.test.tsx
  src/components/Item/LikeButton.test.tsx
  src/components/Item/Likes.test.tsx
  src/components/Logout/Logout.test.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
Due: eslint --fix

test: flush all pending timers before switching to real timers
  src/components/BoardControls/Timer.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
Due: eslint --fix

chore(hooks): add hook useIsAdmin
  src/hooks/index.ts
  src/hooks/useIsAdmin.test.ts
  src/hooks/useIsAdmin.ts
Due: eslint --fix

refactor(components): replace useIsAdmin in BoardControls
  src/components/BoardControls/AddColumn.tsx
  src/components/BoardControls/MaxLikes.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

feat(components): play alarm audio on timer end
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/Timer.tsx
  src/components/BoardControls/audio/alarm.ogg
  src/components/BoardControls/audio/index.ts
  src/react-app-env.d.ts
Due: eslint --fix

feat(components): don't render "Sort by likes" for non-admin user
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/BoardControls/Sort.tsx
Due: eslint --fix

build(package): upgrade dependencies and devDependencies
  package.json
  yarn.lock
Due: prettier --write

ci(github): remove myself from dependabot.yml
  .github/dependabot.yml
Due: none

ci(github): improve cache in workflow build.yml
  .github/workflows/build.yml
Due: none

Revert "ci(github): improve cache in workflow build.yml"
  .github/workflows/build.yml
Due: none

fix: don't save board to database if user is not admin
  src/components/BoardControls/Timer.tsx
  src/store/boardsSlice.test.ts
  src/store/boardsSlice.ts
Due: eslint --fix

build(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(utils): add transform to array and markdown helpers
  src/components/BoardControls/utils/index.ts
  src/components/BoardControls/utils/transform.test.ts
  src/components/BoardControls/utils/transform.ts
Due: eslint --fix

feat(components): add Export that copies Markdown to clipboard
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/Export.tsx
Due: eslint --fix

feat(components): render Export button in BoardControls
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/BoardControls.tsx
Due: eslint --fix

feat(components): show tooltip when Export button is clicked
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/Export.tsx
Due: eslint --fix

chore(components): move margin style from Export to Sort
  src/components/BoardControls/Export.tsx
  src/components/BoardControls/Sort.tsx
Due: eslint --fix

chore(components): move testing-library actions outside of act
  src/components/BoardControls/Timer.test.tsx
Due: eslint --fix

fix(utils): replace newline with <br> when exporting board to markdown
  src/components/BoardControls/utils/transform.test.ts
  src/components/BoardControls/utils/transform.ts
Due: eslint --fix

docs(changelog): tidy latest release and run prettier
  CHANGELOG.md
Due: prettier --write

ci(github): create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore(husky): remove extraneous .gitignore
  .husky/.gitignore
Due: none

feat(Login): add Twitter as an auth provider
  src/components/Login/__snapshots__/uiConfig.test.ts.snap
  src/components/Login/uiConfig.ts
Due: eslint --fix

feat(Item): save item to firebase onChange instead of onBlur
  src/components/Item/Item.tsx
Due: eslint --fix

refactor(components): modularize BoardName from Board
  src/components/Board/Board.tsx
  src/components/Board/BoardName.test.tsx
  src/components/Board/BoardName.tsx
Due: eslint --fix

feat(public): update document title
  public/index.html
Due: prettier --write

feat(hooks): create set document title helper
  src/hooks/index.ts
  src/hooks/useSetDocumentTitle.test.tsx
  src/hooks/useSetDocumentTitle.ts
Due: eslint --fix

feat(components): set document title for all routes
  src/components/Board/Board.tsx
  src/components/Boards/Boards.tsx
  src/components/Home/Home.tsx
  src/components/Login/Login.tsx
  src/components/Logout/Logout.tsx
  src/components/NotFound/NotFound.tsx
Due: eslint --fix

build(package): upgrade to React 18
  package.json
  yarn.lock
Due: prettier --write

test(components): fix failing tests
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/Export.tsx
  src/components/Boards/BoardCard.test.tsx
  src/components/Logout/Logout.test.tsx
Due: eslint --fix

test(components): replace findAllByText with waitFor
  src/components/Board/Board.test.tsx
  src/components/Login/Login.test.tsx
  src/components/Routes/Protected.test.tsx
Due: eslint --fix

feat(Board): add icon button to copy board link to clipboard
  src/components/Board/BoardName.test.tsx
  src/components/Board/BoardName.tsx
Due: eslint --fix

refactor(Board): replace whitespace with style
  src/components/Board/BoardName.tsx
Due: eslint --fix

build(package): upgrade `firebase-tools` to ^11.0.0
  package.json
  yarn.lock
Due: prettier --write

feat(BoardControls): change copy & tooltip for export board button
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/Export.tsx
Due: eslint --fix

feat(BoardControls): replace "Export" text with icon button
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/Export.tsx
Due: eslint --fix

feat(BoardControls): replace alert with snackbar in Timer
  src/components/BoardControls/Timer.test.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

ci(github): update workflow release-please.yml
  .github/workflows/release-please.yml
Due: none

Revert "Merge pull request #665 from lilboards/release-v4.20.0"
  CHANGELOG.md
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
