Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: tidy React types
  src/components/AddButton/AddButton.tsx
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/MaxLikes.tsx
  src/components/BoardControls/Timer.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/DragDropContainer.tsx
  src/components/DeleteDialog/DeleteDialog.tsx
  src/components/Item/Item.tsx
  src/pages/Boards/BoardCard.tsx
  test/utils.tsx
Due: eslint --fix

ci(github): add CODECOV_TOKEN to workflow build.yml
  .github/workflows/build.yml
Due: none

chore(husky): migrate to husky 9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

docs(readme): tidy wording
  README.md
Due: prettier --write

build(package): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.1
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 3 high severity vulnerabilities
  package-lock.json
Due: prettier --write

test(cypress): enable video in cypress.config.ts
  cypress.config.ts
Due: eslint --fix

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: none

build(package): fix 1 moderate vulnerability
  package-lock.json
Due: prettier --write

build(package): remove engines
  package-lock.json
  package.json
Due: prettier --write

build(package): downgrade web-vitals
  package-lock.json
  package.json
Due: prettier --write

refactor: fix reportWebVitals
  src/reportWebVitals.ts
Due: eslint --fix

chore: fix eslint errors
  src/firebase/auth.ts
  src/firebase/database.ts
  src/index.test.tsx
  test/setupTests.ts
Due: eslint --fix

test(cypress): refactor steps in board and login
  cypress/e2e/board/board.ts
  cypress/support/step_definitions/login.ts
Due: eslint --fix

test(cypress): harden board step "I copy board link"
  cypress/e2e/board/board.ts
Due: eslint --fix

test(cypress): use double click instead of click
  cypress/e2e/board/board.ts
Due: eslint --fix

docs(cypress): update link in comment
  cypress/e2e/board/board.ts
Due: eslint --fix

test(cypress): use realClick to copy to clipboard
  cypress/e2e/board/board.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test(cypress): register commands
  cypress/e2e/board/board.ts
  cypress/support/index.ts
Due: eslint --fix

test(cypress): import command
  .gitignore
  cypress/support/e2e.ts
  cypress/support/index.ts
Due: eslint --fix

test(cypress): wait 100 ms after click
  cypress/e2e/board/board.ts
Due: eslint --fix

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

build(package): specify overrides for firebase
  package.json
Due: prettier --write

build(package): upgrade Material UI v5 to v6
  package-lock.json
  package.json
Due: prettier --write

build(package): update `start` script with `npm-run-all`
  package-lock.json
  package.json
Due: prettier --write

feat(pages): add Lists placeholder
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
  src/pages/Lists/Lists.test.tsx
  src/pages/Lists/Lists.tsx
  src/pages/Lists/index.test.tsx
  src/pages/Lists/index.tsx
  src/routes/__snapshots__/routes.test.tsx.snap
  src/routes/routes.tsx
Due: eslint --fix

test(cypress): increase wait in board e2e
  cypress/e2e/board/board.ts
Due: eslint --fix

refactor(config): add support for path aliases
  jest.config.ts
  src/components/App/App.tsx
  tsconfig.json
  vite.config.mts
Due: eslint --fix, prettier --write

test(jest): add `jest-watch-typeahead`
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor(components): tidy AddBoard imports
  src/components/Boards/AddBoard.test.tsx
  src/components/Boards/AddBoard.tsx
Due: eslint --fix

refactor(components): tidy AddBoard
  src/components/AddBoard/AddBoard.test.tsx
  src/components/AddBoard/AddBoard.tsx
  src/components/AddBoard/index.ts
  src/pages/Boards/Boards.tsx
Due: eslint --fix

refactor(constants): create DatabaseKey enum and modularize firebase
  src/components/Columns/utils/reorder.test.ts
  src/components/Columns/utils/reorder.ts
  src/constants/database.ts
  src/constants/index.ts
  src/firebase/database.ts
  src/firebase/database/board.ts
  src/firebase/database/database.ts
  src/firebase/database/id.test.ts
  src/firebase/database/id.ts
  src/firebase/database/index.ts
  src/firebase/database/list.ts
  src/firebase/database/user.ts
  src/pages/Boards/BoardCards.tsx
  src/pages/Boards/hooks/useBoards.ts
  src/store/slices/boardsSlice.test.ts
  src/store/slices/boardsSlice.ts
  src/store/slices/columnsSlice.test.ts
  src/store/slices/columnsSlice.ts
  src/store/slices/itemsSlice.test.ts
  src/store/slices/itemsSlice.ts
  src/store/slices/likesSlice.test.ts
  src/store/slices/likesSlice.ts
  src/store/slices/userSlice.test.ts
  src/store/slices/userSlice.ts
  test/constants.ts
  test/utils.tsx
Due: eslint --fix

refactor(types): modularize types
  src/types/board.ts
  src/types/id.ts
  src/types/index.ts
  src/types/list.ts
  src/types/time.ts
  src/types/user.ts
Due: eslint --fix

fix(database): use attribute-based access for Firebase Security Rules
  database.rules.json
Due: prettier --write

test(cypress): harden flaky e2e assertion in board
  cypress/e2e/board/board.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
