Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

chore(husky): add pre-commit hook that runs lint-staged
  .husky/pre-commit
Due: none

chore(package): fix lint script
  package.json
Due: prettier --write

chore(package): add script lint:tsc
  package.json
Due: prettier --write

chore(package): add script test:ci
  package.json
Due: prettier --write

chore(package): add colors to script test:ci
  package.json
Due: prettier --write

refactor(index): tidy code and comment out reportWebVitals
  src/index.tsx
Due: eslint --fix

refactor(App): move component and related files under App directory
  src/App/index.css
  src/App/index.test.tsx
  src/App/index.tsx
Due: eslint --fix, prettier --write

test(index): add smoke test
  src/index.test.tsx
Due: eslint --fix

chore(package): set jest coverageThreshold to 100%
  package.json
  src/reportWebVitals.ts
Due: eslint --fix, prettier --write

docs(readme): update README.md
  README.md
Due: prettier --write

feat(public): update title and description in index.html
  public/index.html
Due: prettier --write

feat(public): update name and short_name in manifest.json
  public/manifest.json
Due: prettier --write

test(App): add snapshot tests
  src/App/__snapshots__/index.test.tsx.snap
  src/App/index.test.tsx
Due: eslint --fix

refactor(index): update index.test.tsx
  src/index.test.tsx
Due: eslint --fix

build(package): save @material-ui/{core,icons} to dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: delete boilerplate code from create-react-app
  src/App/__snapshots__/index.test.tsx.snap
  src/App/index.css
  src/App/index.test.tsx
  src/App/index.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
Due: eslint --fix, prettier --write

feat(home): move App to home
  src/App/__snapshots__/index.test.tsx.snap
  src/App/index.test.tsx
  src/App/index.tsx
  src/home/Home.test.tsx
  src/home/Home.tsx
  src/home/__snapshots__/Home.test.tsx.snap
  src/home/index.ts
  src/index.tsx
Due: eslint --fix

docs(readme): capitalize first heading
  README.md
Due: prettier --write

feat(public): capitalize title and update description in index.html
  public/index.html
Due: prettier --write

feat(index): render material-ui CssBaseline
  src/index.tsx
Due: eslint --fix

feat(public): load Roboto font and font icons in index.html
  public/index.html
Due: prettier --write

feat(common): add Header with heading and button
  src/common/Header.test.tsx
  src/common/Header.tsx
  src/common/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

feat(home): render Header in Home
  src/home/Home.test.tsx
  src/home/Home.tsx
  src/home/__snapshots__/Home.test.tsx.snap
Due: eslint --fix

feat(common): style Header elements
  src/common/Header.test.tsx
  src/common/Header.tsx
  src/common/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

build(package): save reach router to dependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): save reach router typings
  package.json
  yarn.lock
Due: prettier --write

feat: add Routes and render Home
  src/home/Home.tsx
  src/index.tsx
  src/routes/Routes.tsx
  src/routes/index.ts
Due: eslint --fix

refactor: rename common directory to layout
  src/home/Home.tsx
  src/layout/Header.test.tsx
  src/layout/Header.tsx
  src/layout/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

refactor: add Layout that renders Header and children
  src/home/Home.test.tsx
  src/home/Home.tsx
  src/layout/Layout.test.tsx
  src/layout/Layout.tsx
  src/layout/index.ts
Due: eslint --fix

chore: specify type import
  src/home/Home.tsx
  src/layout/Layout.tsx
Due: eslint --fix

fix(layout): render Container as main element
  src/layout/Layout.tsx
Due: eslint --fix

fix(layout): add margin top and bottom to children
  src/layout/Layout.tsx
Due: eslint --fix

feat(home): update copy
  src/home/Home.test.tsx
  src/home/Home.tsx
Due: eslint --fix

feat(layout): change heading to link in Header
  src/layout/Header.tsx
  src/layout/__snapshots__/Header.test.tsx.snap
Due: eslint --fix

chore(package): update lint scripts
  package.json
Due: prettier --write

feat: add Login to Routes and update Header button link
  src/layout/Header.tsx
  src/layout/__snapshots__/Header.test.tsx.snap
  src/login/Login.test.tsx
  src/login/Login.tsx
  src/login/index.ts
  src/routes/Routes.tsx
Due: eslint --fix

build(package): save firebase to dependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): save firebase-tools to devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): downgrade typescript to 4.1.5
  package.json
  yarn.lock
Due: prettier --write

chore(package): add script firebase:login
  package.json
Due: prettier --write
