Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

Revert "build(package): upgrade devDependencies"
  package.json
  yarn.lock
Due: prettier --write

Revert "build(deps): bump react-router-dom from 6.12.0 to 6.12.1 (#1240)"
  package.json
  yarn.lock
Due: prettier --write

refactor(hooks): fix useSelector type error
  src/hooks/useSelector.test.ts
  src/hooks/useSelector.ts
Due: eslint --fix

build(package): bump react-redux from 8.0.7 to 8.1.0
  package.json
  yarn.lock
Due: prettier --write

ci(github): run cypress e2e on production after firebase-hosting-merge
  .github/workflows/firebase-hosting-merge.yml
Due: none

ci(github): remove before step in workflow firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

Revert "build(deps): bump react-router-dom from 6.12.0 to 6.12.1 (#1248)"
  package.json
  yarn.lock
Due: prettier --write

chore(github): delete FUNDING.yml
  .github/FUNDING.yml
Due: none

chore(github): delete CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

chore(github): delete PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(github): delete ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

chore(github): delete ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore(github): delete ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

feat(Header): change the SupportIcon to the HelpIcon
  src/components/Layout/Header.test.tsx
  src/components/Layout/Header.tsx
  src/pages/Support/Support.tsx
Due: eslint --fix

build(package): bump cypress from 12.14.0 to 12.15.0
  package.json
  yarn.lock
Due: prettier --write

perf(BoardControls): use createSelector in Export and fix test warning
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/Export.tsx
Due: eslint --fix

perf(Boards): use createSelector in BoardCards
  src/pages/Boards/BoardCards.tsx
Due: eslint --fix

perf(Column): use createSelector in Column
  src/components/Column/Column.tsx
Due: eslint --fix

perf(Columns): use createSelector in Columns
  src/components/Columns/Columns.tsx
Due: eslint --fix

perf(Column): use createSelector in ColumnName
  src/components/Column/ColumnName.tsx
Due: eslint --fix

chore(hooks): create useGetUserId and refactor tests
  src/hooks/index.ts
  src/hooks/useAuth.test.tsx
  src/hooks/useGetUserId.test.ts
  src/hooks/useGetUserId.ts
  src/utils/test.tsx
Due: eslint --fix

refactor(components): replace useSelector with useGetUserId
  src/components/BoardControls/AddColumn.tsx
  src/components/Boards/AddBoard.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/DragDropContainer.tsx
  src/components/Item/Item.tsx
  src/components/Item/LikeButton.tsx
  src/components/Items/Items.tsx
  src/pages/Boards/BoardCard.tsx
  src/pages/Boards/Boards.tsx
Due: eslint --fix

chore(hooks): create useGetItemIds
  src/hooks/index.ts
  src/hooks/useGetItemIds.test.ts
  src/hooks/useGetItemIds.ts
  src/hooks/useGetUserId.test.ts
Due: eslint --fix

refactor(components): replace useSelector with useGetItemIds
  src/components/Column/ColumnName.tsx
  src/components/Items/DroppableItems.tsx
Due: eslint --fix

chore(hooks): create useGetLikes
  src/hooks/index.ts
  src/hooks/useGetItemIds.test.ts
  src/hooks/useGetLikes.test.ts
  src/hooks/useGetLikes.ts
Due: eslint --fix

refactor(components): replace useSelector with useGetLikes
  src/components/Item/LikeButton.tsx
  src/components/Item/Likes.tsx
Due: eslint --fix

refactor(hooks): tidy hooks
  src/hooks/useAuth.ts
  src/hooks/useGetItemIds.test.ts
  src/hooks/useGetItemIds.ts
  src/hooks/useGetLikes.test.ts
  src/hooks/useGetLikes.ts
  src/hooks/useGetUserId.test.ts
  src/hooks/useGetUserId.ts
  src/hooks/useIsAdmin.ts
  src/hooks/useMaxLikes.test.ts
  src/hooks/useMaxLikes.ts
  src/hooks/useSetDocumentTitle.ts
Due: eslint --fix

refactor(components): tidy Snackbar
  src/components/Snackbar/Snackbar.tsx
Due: eslint --fix

refactor(components): tidy Snackbar
  src/components/Snackbar/Snackbar.test.tsx
  src/components/Snackbar/Snackbar.tsx
Due: eslint --fix

refactor(store): tidy imports in slices
  src/store/slices/boardsSlice.ts
  src/store/slices/columnsSlice.ts
  src/store/slices/itemsSlice.ts
  src/store/slices/likesSlice.ts
  src/store/slices/userSlice.ts
Due: eslint --fix

test(BoardControls): refactor to snapshots for utils transform
  src/components/BoardControls/utils/__snapshots__/transform.test.ts.snap
  src/components/BoardControls/utils/transform.test.ts
Due: eslint --fix

fix(BoardControls): update Export to copy columns with default name
  src/components/BoardControls/utils/__snapshots__/transform.test.ts.snap
  src/components/BoardControls/utils/transform.ts
Due: eslint --fix

chore(BoardControls): create transform util `transformToCSV`
  src/components/BoardControls/utils/__snapshots__/transform.test.ts.snap
  src/components/BoardControls/utils/transform.test.ts
  src/components/BoardControls/utils/transform.ts
Due: eslint --fix

fix(BoardControls): trim newline when copying board as markdown
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/utils/__snapshots__/transform.test.ts.snap
  src/components/BoardControls/utils/transform.ts
Due: eslint --fix

fix(BoardControls): use Popover in smaller screens for responsiveness
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/BoardControls.tsx
  src/components/BoardControls/Export.tsx
  src/components/BoardControls/HideLikes.tsx
  src/components/BoardControls/MaxLikes.tsx
  src/components/BoardControls/Sort.tsx
  src/components/BoardControls/Timer.tsx
Due: eslint --fix

fix(BoardControls): replace menu icon with more icon
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/BoardControls.tsx
Due: eslint --fix

chore(pages): tidy copy in Support
  src/pages/Support/Support.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md}
