Repository lilboards/lilboards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md}": "prettier --write"
}

feat(BoardCard): replace double quotes
  cypress/e2e/boards/boards.feature
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/BoardCard.tsx
Due: eslint --fix

fix(CloseButton): override size prop on IconButton
  src/components/CloseButton/CloseButton.tsx
Due: eslint --fix

feat(Column): show DeleteDialog before deleting column in ColumnName
  cypress/e2e/board/board.feature
  src/components/Column/Column.test.tsx
  src/components/Column/ColumnName.test.tsx
  src/components/Column/ColumnName.tsx
Due: eslint --fix

fix(ColumnName): center the CloseButton vertically
  src/components/Column/ColumnName.tsx
Due: eslint --fix

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): delete auto-assign.yml
  .github/workflows/auto-assign.yml
Due: none

feat(components): replace double quotes inside Item aria-label
  cypress/e2e/board/board.feature
  src/components/Item/Item.test.tsx
  src/components/Item/Item.tsx
Due: eslint --fix

test(cypress): fix specPattern in cypress.config.ts
  cypress.config.ts
Due: eslint --fix

ci(size-limit): increase limit from 30s to 60s
  .size-limit.json
Due: prettier --write

test(src): rename `renderWithContext` to `renderWithProviders`
  src/components/BoardControls/AddColumn.test.tsx
  src/components/BoardControls/BoardControls.test.tsx
  src/components/BoardControls/Export.test.tsx
  src/components/BoardControls/HideLikes.test.tsx
  src/components/BoardControls/MaxLikes.test.tsx
  src/components/BoardControls/Sort.test.tsx
  src/components/BoardControls/Timer.test.tsx
  src/components/Boards/AddBoard.test.tsx
  src/components/Column/Column.test.tsx
  src/components/Column/ColumnName.test.tsx
  src/components/Columns/Columns.test.tsx
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/components/Item/Item.test.tsx
  src/components/Item/LikeButton.test.tsx
  src/components/Item/Likes.test.tsx
  src/components/Items/Items.test.tsx
  src/components/Layout/Header.test.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Protected/Protected.test.tsx
  src/components/VerifyEmail/VerifyEmail.test.tsx
  src/pages/Board/Board.test.tsx
  src/pages/Boards/BoardCard.test.tsx
  src/pages/Boards/BoardCards.test.tsx
  src/pages/Boards/Boards.test.tsx
  src/pages/ErrorBoundary/ErrorBoundary.test.tsx
  src/pages/Home/Home.test.tsx
  src/pages/Login/Login.test.tsx
  src/pages/Logout/Logout.test.tsx
  src/pages/NotFound/NotFound.test.tsx
  src/pages/Support/Support.test.tsx
  src/utils/test.tsx
Due: eslint --fix

test(utils): fix router in test
  src/utils/test.tsx
Due: eslint --fix

docs(readme): add alternative solution for Firebase Emulator
  README.md
Due: prettier --write

build(yarn): bump caniuse-lite from 1.0.30001473 to 1.0.30001420
  yarn.lock
Due: none

feat(Item): confirm with dialog before delete
  src/components/Item/Delete.test.tsx
  src/components/Item/Delete.tsx
  src/components/Item/Item.test.tsx
  src/components/Item/Item.tsx
Due: eslint --fix

test(cypress): fix e2e tests for item delete in board.feature
  cypress/e2e/board/board.feature
Due: none

build(package): bump firebase-tools from 11.25.2 to 11.25.3
  package.json
  yarn.lock
Due: prettier --write

test(setupTests): mock 'firebase/database' and remove from components
  src/components/Columns/hooks/useColumns.test.tsx
  src/components/Columns/hooks/useItems.test.tsx
  src/components/Columns/hooks/useLikes.test.tsx
  src/pages/Board/Board.test.tsx
  src/setupTests.ts
Due: eslint --fix

ci(github): merge with squash in mergify.yml
  .github/mergify.yml
Due: none

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(nvmrc): set Node.js version to 16
  .nvmrc
Due: none

ci(github): add setup-node to workflows
  .github/workflows/build.yml
  .github/workflows/cypress.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

docs(readme): add nvm instructions
  README.md
Due: prettier --write

build(nvmrc): upgrade Node.js version from 16 to 18
  .nvmrc
  package.json
Due: prettier --write

docs(readme): update prerequisites links
  README.md
Due: prettier --write

docs(readme): update link and improve wording
  README.md
Due: prettier --write

docs(readme): tidy sentence
  README.md
Due: prettier --write

docs(readme): replace links
  README.md
Due: prettier --write

test(routes): rename index.test.tsx to routes.test.tsx
  src/routes/routes.test.tsx
  src/routes/routes.tsx
Due: eslint --fix

test(pages): mock console.log in ErrorBoundary
  src/pages/ErrorBoundary/ErrorBoundary.test.tsx
Due: eslint --fix

ci(github): tidy workflow cypress.yml
  .github/workflows/cypress.yml
Due: none

refactor(store): move slices inside of store directory
  src/actions/actions.ts
  src/store/slices/boardsSlice.test.ts
  src/store/slices/boardsSlice.ts
  src/store/slices/columnsSlice.test.ts
  src/store/slices/columnsSlice.ts
  src/store/slices/index.ts
  src/store/slices/itemsSlice.test.ts
  src/store/slices/itemsSlice.ts
  src/store/slices/likesSlice.test.ts
  src/store/slices/likesSlice.ts
  src/store/slices/userSlice.test.ts
  src/store/slices/userSlice.ts
  src/store/store.ts
Due: eslint --fix

refactor(store): move actions to store and tidy exports
  src/actions/index.ts
  src/components/App/App.tsx
  src/components/BoardControls/AddColumn.tsx
  src/components/BoardControls/HideLikes.tsx
  src/components/BoardControls/MaxLikes.tsx
  src/components/BoardControls/Sort.tsx
  src/components/BoardControls/Timer.tsx
  src/components/Boards/AddBoard.tsx
  src/components/Column/ColumnName.tsx
  src/components/Columns/DragDropContainer.tsx
  src/components/Columns/hooks/useColumns.ts
  src/components/Columns/hooks/useItems.ts
  src/components/Columns/hooks/useLikes.ts
  src/components/Item/Delete.tsx
  src/components/Item/Item.tsx
  src/components/Item/LikeButton.tsx
  src/components/Items/Items.tsx
  src/hooks/useAuth.test.tsx
  src/hooks/useAuth.ts
  src/hooks/useDispatch.ts
  src/pages/Board/hooks/useBoard.ts
  src/pages/Boards/BoardCard.tsx
  src/pages/Boards/hooks/useBoards.ts
  src/pages/Logout/Logout.tsx
  src/store/actions.ts
  src/store/index.ts
  src/types/index.ts
  src/utils/test.tsx
Due: eslint --fix

test(hooks): reuse store in useAuth.test.tsx
  src/hooks/useAuth.test.tsx
Due: eslint --fix

refactor(store): tidy slice name and remove unused constant
  src/constants/index.ts
  src/store/slices/boardsSlice.ts
  src/store/slices/itemsSlice.ts
  src/store/slices/likesSlice.ts
  src/store/slices/userSlice.ts
Due: eslint --fix

build(package): remove unused devDependency `@types/react-redux`
  package.json
  yarn.lock
Due: prettier --write

chore(store): remove unnecessary export in userSlice
  src/store/slices/userSlice.test.ts
Due: eslint --fix

build(package): bump firebase-tools from 12.0.1 to 12.1.0
  package.json
  yarn.lock
Due: prettier --write

test(index): refactor index.test.tsx
  src/index.test.tsx
Due: eslint --fix

chore(husky): run test:ci in pre-commit hook
  .husky/pre-commit
Due: none

chore(pages): update copy in NotFound
  cypress/e2e/404/404.feature
  src/pages/NotFound/NotFound.tsx
Due: eslint --fix
